@import "tailwindcss";

@theme {
    /* Fonts */
    --font-accent: "Roboto Slab", serif;
    --font-body: "Inter", sans-serif;
    --font-cursive: "Dancing Script", cursive;

    /* Backgrounds & Surfaces */
    --color-background-base: #0d0d0f;
    --color-background-surface: #161619;
    --color-background-elevated: #1e1f24;

    /* Typography */
    --color-text-primary: #dedee2;
    --color-text-secondary: #a1a1aa;
    --color-text-muted: #52525b;

    /* Borders */
    --color-border-subtle: #232429;

    /* Accents */
    --color-accent-primary: #6366f1;
    --color-accent-secondary: #06b6d4;
    --color-accent-unique: #a855f7;

    /* Status & Feedback */
    /* Status & Feedback */
    --color-status-success: #86b98f;
    --color-status-warning: #c9b458;
    --color-status-danger: #c97878;
}

body {
    margin: 0;
    background-color: var(--color-background-base);
    color: var(--color-text-primary);
    font-family: var(--font-body);
}
